<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
</head>
<style>
    body{
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        background: rgb(223,222,220);
background: radial-gradient(circle, rgba(223,222,220,1) 0%, rgba(240,240,240,1) 35%);
    }
    .total_experts{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .single_expert
    {
      width: 500px;
      border-radius: 10px;
      /* height: 200px; */
      background-color: rgb(213, 213, 213);
      padding: 20px;
    }
    .details,.subdetails{
        font-weight: 300;
        display: flex;
        justify-content: space-between;
    }
    .details h4,.details h3,.posted h3
    {
        margin: 0;
    }
    .details .box{
        background-color: rgb(239, 142, 142);
        padding: 7px;
        border-radius: 4px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    

</style>
<body>
    <h1 style="margin-left: 30px;padding: 3px;border-bottom: 6px solid rgb(47, 46, 46);width: 180px;border-right: 6px solid rgb(47, 46, 46);">All experts</h1>
    <div class="total_experts">
        <% for(let i=0;i<experts.length;i++)  {%>
            <a href="/expertshow/<%=experts[i]._id%>">
        <div class="single_expert">
           <div class="details">
            <h3  > <%= experts[i].firstname%> <%=experts[i].lastname %></h3>
            <div class="box">
            <h4 >
                Expert
            </h4>
        </div>

           </div>
           <div class="subdetails" style="font-weight: 400;">
            <h4 style="font-weight: 400;"><%=experts[i].email %></h4>
            <h4 style="font-weight: 400;"><%= experts[i].phone %></h4>
           </div>
           <div class="posted">
           <h3 style="font-weight: 400;"> posted articles : <%= count[i] %></h3>
           </div>
        </div>
    </a>
        <% }%>
   
      
    </div>
</body>
</html>