<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expert Articles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
      <!-- <link rel="stylesheet" href="../css/landingpage.css"> -->
      <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/3e893105a3.js" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <link rel="stylesheet" href="../css/searchbar.css">
      <link rel="stylesheet" href="../css/expertarticles.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>
</head>
<body>

  <%- include('partials/loading') %>
    <%- include('partials/navbar')-%>
    <%- include('partials/cursor') %>

    <h1 class="title_expert">Your Blogs</h1>

    <%- include('partials/searchbar') %>

    <% if(data.length!==0) { %>
   <div style="min-height: 600px;" class="your_blogs">

    <% data.forEach(ele => { %>
          <div id="<%= ele['id'] %>" class="your_blog">
            <img class="blog_image" src="<%= ele['image_link'] %>" alt="">

            <div class="content">
              <h2>
                <%= ele['title'] %>
              </h2>
              <!-- <p><%- ele['content'].substring(0,150) %>...</p> -->
            </div>

            <a href="/posts/compose?id=<%= ele['id'] %>">
              <button class="edit">EDIT</button>
            </a>                                               

            <a href="javascript:void(0)"  data-href="/expert_articles/delete/<%= ele['id'] %>" class="delete-btn-link">
              <button class="delete" >DELETE</button>
            </a>
          </div>
    <% }) %>

    </div>
 <% }%>
 <% if(data.length===0) { %>
  <div class="not_available" style="height: 300px;text-align: center;display: flex;align-items: center;justify-content: center;flex-direction: column;">

    <img src="../images/null.png" alt="">
 </div>
  <%} %>


    <%- include('partials/footer')-%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

  <script>
    new WOW().init();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="../js/searchbar.js"></script> -->

  <script src="../js/expert_articles.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/cursor.js"></script>
  <script>



  </script>
</body>
</html>