<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogPosts</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="../css/health.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/searchbar.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/3e893105a3.js" crossorigin="anonymous"></script>
</head>



<body>

  <%- include('partials/loading') %>
  <%- include('partials/navbar')-%>
  <%- include('partials/cursor') %>

<!-- Highlights and famous blogs -->
<h1 style="font-size:50px;font-weight:700;text-align: center;" class="highlights-heading " > <%= (topic=='NEWS_UPDATES')?"NEWS UPDATES":topic %> </h1>


  <div class="slideshow-container animated wow fadeInUp" data-wow-delay="0.1s">

    <div id="<%= articles_data[3]['_id'] %>" class="slide active">
        <div class="image-part">
            <div class="left-btn">
                &#10094;
            </div>
            <div class="right-btn">
                &#10095;
            </div>


            <img src="<%= articles_data[3]['image_link'] %>" alt="edu1" >
         </div>
         <div class="title-part">
            <%= articles_data[3]['title'].substring(0,200) %>
         </div>

    </div>

    <div id="<%= articles_data[2]['_id'] %>"
      class="slide ">
      <div class="image-part">
        <div  class="left-btn">
          &#10094;
        </div>
        <div class="right-btn">
          &#10095;
        </div>


        <img src="<%= articles_data[2]['image_link'] %>" alt="edu1">
      </div>
      <div class="title-part">
        <%= articles_data[2]['title'].substring(0,200) %>
      </div>
    </div>

    <div id="<%= articles_data[1]['_id'] %>" class="slide ">
      <div class="image-part">
        <div class="left-btn">
          &#10094;
        </div>
        <div class="right-btn">
          &#10095;
        </div>


        <img src="<%= articles_data[1]['image_link'] %>" alt="edu1">
      </div>
      <div class="title-part">
        <%= articles_data[1]['title'].substring(0,200) %>
      </div>

    </div>

</div>

  <!-- Articles -->


  <h1 class="highlights-heading">
  All Blogs
  </h1>

  <%- include('partials/searchbar') %>

  <div id="articlesId" class="articles" data-wow-delay="0.2s">

    <div  class="modal-image" data-wow-delay="0.4s">
      <span class="close-btn"><a class="close-button" href="#articlesId">&times;</a></span>
        <img class="pop-image" src="./images/health-5.jpg" alt="">
        <div class="description">
          <!-- <h2 class="modal-heading"></h2> -->
         <span class="description-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, perspiciatis voluptatem dignissimos vitae eum aspernatur
                nostrum eaque saepe mollitia id temporibus a inventore similique beatae in, ratione dolorum? Deleniti sunt suscipit
                accusamus ex ullam minus distinctio debitis, harum recusandae. Iusto.
         </span>


          <a href="display" target="_blank" class="read-more">Read Full Blog</a>
        </div>
    </div>



    <% for( let i = 0; i < articles_data.length; i++ ) { %>
      <div id="<%=articles_data[i]['_id']%>" class=" article-<%= (i%9<=2)?30:(i%9==3||i%9==6)?60:(i%9==4||i%9==5)?40:50 %>  wow <%= i%9<=2?'fadeInUp':(i%9)%2==1? 'fadeInLeft':'fadeInRight' %> article" data-wow-delay="<%= 0.21+(i%9)/100 %>s">
        <div class="clip-img">
        <img src="<%= articles_data[i]["image_link"] %>" alt="H-1">
        </div>
        <div class="short-desc">
          <h6 class="article-title"><%= articles_data[i]["title"] %></h6>
          <div class="tags"><% for( let index = 0; index < Math.min(articles_data[i].tags.length,4); index++ ) { %>
                      <span class="singleTag"><%=articles_data[i].tags[index] %></span>
          <% } %></div>
          <span class="text-desc dontshow">
            <%= articles_data[i]["content"].substring(0,250) %>...
          </span>
          <div style="justify-content: right;display: flex;">
            <i style="font-size: 18px;margin-right: 5px;margin-top: 3px;color: rgb(6, 108, 191);"
              class="fa-solid fa-arrow-up"></i>
            <h5 style="">
              <%=articles_data[i]["likes"] %>
            </h5>
          </div>
        </div>
      </div>
    <% } %>


  </div>
  <div class="pagination">
    <div class="prev">Prev</div>
    <div class="page">Page <span class="page-num"></span></div>
    <div class="next">Next</div>

  </div>

  <%- include('partials/footer') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
  <script src="../js/posts.js"></script>
  <script src="../js/slideshow.js"></script>
  <script>
    new WOW().init();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/searchbar.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/pagination.js"></script>
  <script src="../js/cursor.js"></script>
</body>

</html>